.image{
    min-height: 93vh;
    width: 60vw;
    background: url(../img/food-1.jpg) no-repeat;
    background-size: cover!important;
    background-position: center!important;

    &:hover ~ .cursor{
        background: none;
        transform: scale(6);
        border: 1px solid $white;
        backdrop-filter: grayscale(1);
    }
}